[Desktop Entry]
Encoding=UTF-8
Name=Link to Kali Linux | Penetration Testing and Ethical Hacking Linux Distribution
Type=Link
URL=https://www.kali.org/
Icon=text-html
Name[en_IN]=Link to Kali Linux
